* {
    margin: 0%;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 400;
}

button{
    cursor: pointer;
    background: none;
    border: none;
    color: #fff;
    font-size: 13pt;
}

body{
    background-color: #202020;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.a-back-home{
    position: absolute;
    margin-top: 3.7%;
    margin-left: 4.3%;
    background: none;
    border: none;
    text-decoration: none;
    color: #fff;
    font-size: 15pt;
    z-index: 100;
}



.div-line{
    width: 45%;
    height: 3px;
    background-color: #fff;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}





.top-element{
    width: 100%;
    height: 50%;
    position: absolute;
    top: 0;
}

.top-element:hover .p-top{
    color: #387F83;
    transition: 0.5s;
}

.p-top{
    font-size: 30pt;
    color: #fff;
    text-align: center;
    position: absolute;
    top: 87%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ul{
    font-size: 13pt;
    color: #fff;
    text-align: center;
    margin-top: 7%;
}

.div-ul-top{
    padding: 0% 45%;
    position: absolute;
    margin-top: 12%;
    margin-left: 1.5%;
}






.bottom-element{
    width: 100%;
    height: 50%;
    position: absolute;
    top: 50%;
}

.bottom-element:hover .p-bottom{
    color: #387F83;
    transition: 0.5s;
}

.p-bottom{
    font-size: 30pt;
    color: #fff;
    text-align: center;
    position: fixed;

    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ul{
    font-size: 13pt;
    color: #fff;
    text-align: center;
    margin-top: 7%;
}

.div-ul-bottom{
    padding: 0% 45%;
    position: absolute;
    margin-top: 10%;
    margin-left: 1.5%;
}

.div-pdf, .div-code{
    border: 2px solid #fff;
    color: #fff;
    border-radius: 25px;
    box-shadow: 0px 4px 50px -15px #ffffffd3;
    background-color: #202020;
    position: absolute;
    width: 85%;
    height: 85%;
    overflow: hidden;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 101;
}

.button-close{
    position: absolute;
    background-color: #202020;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    top: 3.5%;
    right: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
}

.button-close img{
    width: 60%;
}

a{
    text-decoration: none;
    color: #fff;
}

pre{
    margin-top: 2%;
    margin-left: -5%;
}





.non-existing{
    text-decoration: line-through;
    opacity: 70%;
    cursor: not-allowed;
}



li:hover a{
    text-decoration: underline;
}

li:hover button{
    text-decoration: underline;
}

